@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    background-color: #090d18;
    color: #eee;
}

/* login area */
section.bg-login {
    min-height: 100vh;
    width: 100%;
    background-image:
        radial-gradient(circle at 16% 83%, rgba(148, 148, 148, 0.06) 0%, rgba(148, 148, 148, 0.06) 50%, rgba(63, 63, 63, 0.06) 50%, rgba(63, 63, 63, 0.06) 100%),
        radial-gradient(circle at 68% 87%, rgba(66, 66, 66, 0.06) 0%, rgba(66, 66, 66, 0.06) 50%, rgba(105, 105, 105, 0.06) 50%, rgba(105, 105, 105, 0.06) 100%),
        radial-gradient(circle at 38% 50%, rgba(123, 123, 123, 0.06) 0%, rgba(123, 123, 123, 0.06) 50%, rgba(172, 172, 172, 0.06) 50%, rgba(172, 172, 172, 0.06) 100%),
        linear-gradient(90deg, rgb(9, 9, 18), rgb(9, 9, 18));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

input {
    margin-bottom: 1rem;
    border-radius: 0.6rem;
    background: none;
    border: 1px solid #1f2937;
    color: #eee;
}

.message {
    text-align: center;
    padding: 3rem;
}

.message span {
    font-weight: bold;
    color: #eee;
    font-size: 2.3rem;
}

.message p {
    color: #565674;
    font-size: 1.3rem;
}

.signup,
a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #565674;
    padding-top: 2rem;
}

.signup b {
    color: #2563eb;
    padding-left: 0.3rem;
}

li {
    margin: 3rem;
}

.login-card {
    width: 50rem;
    height: 100%;
    margin: auto;
    background: #090912;
    padding: 5rem;
    border-radius: 0.6rem;
    box-shadow: 0 2px 8px rgba(17, 17, 17, 0.1);
}

.btn-enter {
    background-color: #5865f2;
    width: 100%;
    height: 4rem;
    border-radius: 0.8rem;
    color: #eee;
    cursor: pointer;
    font-weight: bold;
}

.btn-enter:hover {
    background-color: rgb(42, 83, 172);
    transition: all 1s;
}

.error-alert {
    background: #ffe2e2;
    color: #dc2626;
    border-left: 0.4rem solid #fb2c36;
    border-radius: 0.6rem;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
}

.success-alert {
    background: #e4ffe2;
    color: #234a2e;
    border-left: 0.4rem solid #26dc35;
    border-radius: 0.6rem;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
}