{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Register a new account</title>
    <link rel="icon" type="image/png" id="favicon" sizes="48x48" href="{% static 'chamados/images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'chamados/login.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen flex items-center justify-center">
    <section class="bg-login">
      <div class="login-card">
        <h1 class="text-4xl font-bold mb-4 text-center">Change password</h1>
        <h2 class="text-2xl font-300 mb-4 text-center">Enter your new password below.</h2>
        <br /> <br />

        <form method="post">
          {% csrf_token %}

          <label>Current password<input class="p-4 mb-10" type="password" name="old_password" autocomplete="new-password" placeholder="********" minlength="6" maxlength="20" required /></label>

          <label>New password<input class="p-4 mb-10" type="password" name="new_password1" autocomplete="new-password" placeholder="********" minlength="6" maxlength="20" required /></label>

          <label>Confirm password<input class="p-4 mb-10" type="password" name="new_password2" autocomplete="new-password" placeholder="********" minlength="6" maxlength="20" required /></label>

          <button class="btn-enter" type="submit">Change password</button>
        </form>
        <br /> <br />
        {% if form.errors %}
          <div class="error-alert">Check the fields below.</div>
        {% endif %}
      </div>
    </section>
  </body>
</html>
